<div class="grid-cart">
	<h2 class="section-title">MEET THE CAST</h2>

	<div class="grid-cart__list">
		<div class="grid-cart__item">
			<div class="grid-cart__image">
				<img src="../../images/Behind_The_Sash_Shot_08_Danni_006.jpg" alt="" class="image-normal">
				<img src="../../images/Danielle Fern Smile 2.jpg" alt="" class="image-hover">
			</div>

			<div class="grid-cart__body">
				<h3 class="grid-cart__title">Danielle – CREATIVITY</h3>

				<div class="grid-cart__content">
					<p>Danielle is an internationally published Writer, Director, Producer devoted to using the performing arts to explore issues of injustice. A fireball of passion, Danielle is a woman who doesn’t shy away from being radical in the name of LOVE. With a quirky sense of humour Danielle is a Mumma to 3 and ANCHOR to the women of Behind The Sash. </p>
				</div>

				<div class="grid-cart__link">
					<a href="https://www.instagram.com/cheeky_mac/" target="_blank" class="btn btn--with-icon">Follow Danielle</a>
				</div>
			</div>
		</div>

		<div class="grid-cart__item image-right">
			<div class="grid-cart__image">
				<img src="../../images/Behind_The_Sash_Shot_07_Giselle_058.jpg" alt="" class="image-normal">
				<img src="../../images/Jyselle Fern Smile.jpg" alt="" class="image-hover">
			</div>

			<div class="grid-cart__body">
				<h3 class="grid-cart__title">Jyselle — Runway</h3>

				<div class="grid-cart__content">
					<p>By day, a Supermodel and Marketing Manager, and by night, Founder of not-for-profit organisation Wall of Jasper. A proud mum and wife, Jyselle is grounded and intentional. She’s passionate about the runway and coaching women to own who they are! Jyselle is the SAFE PLACE for the women of Behind The Sash, 
living in her own beautiful bubble… an interesting contrast in the pageant arena.</p>
				</div>

				<div class="grid-cart__link">
					<a href="https://www.instagram.com/jyselle/" target="_blank" class="btn btn--with-icon">Follow Jyselle</a>
				</div>
			</div>
		</div>

		<div class="grid-cart__item">
			<div class="grid-cart__image">
				<img src="../../images/Behind_The_Sash_Shot_05_Beckie_073.jpg" alt="" class="image-normal">
				<img src="../../images/Becky Fern Smile.jpg" alt="" class="image-hover">
			</div>

			<div class="grid-cart__body">
				<h3 class="grid-cart__title">Becky — Food & Fashion</h3>

				<div class="grid-cart__content">
					<p>Becky is one hot fashionista but don’t let her keen sense of style and make-up fool you! Hostess with absolute mostess, Becky lives half her life in the sky and is a pillar of strength for her son with special needs. Tough, with a brave heart Becky brings EDGE to the women of Behind The Sash.</p>
				</div>

				<div class="grid-cart__link">
					<a href="https://www.instagram.com/wearsthecrown/" target="_blank" class="btn btn--with-icon">Follow BECKY</a>
				</div>
			</div>
		</div>

		<div class="grid-cart__item image-right">
			<div class="grid-cart__image">
				<img src="../../images/Behind_The_Sash_Shot_06_Shopie_029.jpg" alt="" class="image-normal">
				<img src="../../images/Sophie Fern Smile.jpg" alt="" class="image-hover">
			</div>

			<div class="grid-cart__body">
				<h3 class="grid-cart__title">Sofia — Mrs Australia National Director</h3>

				<div class="grid-cart__content">
					<p>Mrs Australia National Director, Entrepreneur, Mother of 7 and a proud grandmother! Sofia is the kind of woman who, when she needs 3000 garments washed, will go and set up her own laundry just to get the job done! Her greek-lish ways will have  you in stitches! Opa! Sofia is BIG MUMMA to the women of Behind The Sash.</p>
				</div>

				<div class="grid-cart__link">
					<a href="https://www.instagram.com/sofia_gilinas/" target="_blank" class="btn btn--with-icon">Follow SOFIA</a>
				</div>
			</div>
		</div>
	</div>
</div>