<footer class="footer">
  <div class="footer-top">
  	<div class="container">
  		<div class="footer__image">
	  		<img src="../../images/Behind_The_Sash_Leaf_Plates_Footer.jpg" alt="">
	  	</div>

  		<div class="footer__wrap">
  			<div class="footer__social">
  				<h3 class="footer__title">SOCIAL</h3>

  				<ul>
  					<li>
  						<a href="https://www.instagram.com/behindthesashofficial/"><i class="icon-instagram"><span>instagram</span></i></a>
  					</li>
  					<li>
  						<a href="https://www.facebook.com/behindthesashofficial/"><i class="icon-facebook-f"><span>facebook</span></i></a>
  					</li>
  					<li>
  						<a href="#"><i class="icon-youtube"><span>youtube</span></i></a>
  					</li>
  				</ul>
  			</div>

  			<div class="footer__contact">
  				<h3 class="footer__title">Contact</h3>

  				<p>03 9251 1908  |  0432 337 753 <br>info@cheekymac.com</p>
  			</div>
  		</div>
  	</div>
  </div>
  <div class="footer-bottom text--center">
  	<p>© 2019 Behind The Sash Pty Ltd  |  Strategy, Design & Development by Sentius</p>
  </div>
</footer>
