<div class="banner">
	<div class="banner__wrap js-slick-banner">
		<div class="banner__item">
			<div class="banner__image">
				<img src="../../images/Behind_The_Sash_Banner_Desktop.jpg" alt="" class="image-desktop">
				<img src="../../images/Behind_The_Sash_Banner_Mobile.jpg" alt="" class="image-mobile">
			</div>
			
			<div class="banner__body">
				<h2 class="banner__title">Premiering on 10 Peach Saturday 26th October</h2>
				<h2 class="banner__subtitle">Encore on Channel 10 Sunday 27th October</h2>

				<div class="banner__picture">
					<img src="../../images/Chanel 10 Lock Up.png" alt="">
				</div>
			</div>
		</div>

		<div class="banner__item">
			<div class="banner__image">
				<img src="../../images/Behind_The_Sash_Group_Desktop.jpg" alt="" class="image-desktop">
				<img src="../../images/Behind_The_Sash_Group_Mobile.jpg" alt="" class="image-mobile">
			</div>

			<div class="banner__body">
				<h2 class="banner__title">Premiering on 10 Peach Saturday 26th October</h2>
				<h2 class="banner__subtitle">Encore on Channel 10 Sunday 27th October</h2>

				<div class="banner__picture">
					<img src="../../images/Chanel 10 Lock Up.png" alt="">
				</div>
			</div>
		</div>

		<div class="banner__item">
			<div class="banner__image">
				<img src="../../images/Group Black Hero_Desktop.jpg" alt="" class="image-desktop">
				<img src="../../images/Group Black Hero_Mobile.jpg" alt="" class="image-mobile">
			</div>

			<div class="banner__body">
				<h2 class="banner__title">Premiering on 10 Peach Saturday 26th October</h2>
				<h2 class="banner__subtitle">Encore on Channel 10 Sunday 27th October</h2>

				<div class="banner__picture">
					<img src="../../images/Chanel 10 Lock Up.png" alt="">
				</div>
			</div>
		</div>
	</div>
</div>