<div class="lightbox-form">
	<div class="container">
    <span class="form-bars js-close-form">
      <span class="form-bars__row"></span>
      <span class="form-bars__row"></span>
    </span>

		<h3 class="lightbox-form__title">Jump on the Behind the sash journey</h3>

		<div class="lightbox-form__content text--large">
			<p>If you are a brand with a heart for humanity and want to join us on our mission to “making  goodness fashionable”, please submit the form below and we will endeavour to get back to you within 24 hours.</p>
		</div>

		<form action="">
      <div class="form-list">
        <div class="form-item form-type-textfield form-item-name">
          <label><span class="wpcf7-quiz-label">NAME*</span><span class="wpcf7-form-control-wrap name"><input type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-text" aria-required="true" aria-invalid="false" placeholder="Name*"></span></label>
        </div>
        <div class="form-item form-type-textfield form-item-company">
          <label><span class="wpcf7-quiz-label">COMPANY*</span><span class="wpcf7-form-control-wrap company"><input type="text" name="company" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-text" aria-required="true" aria-invalid="false" placeholder="Company*"></span></label>
        </div>
        <div class="form-item form-type-email form-item-email">
          <label><span class="wpcf7-quiz-label">EMAIL*</span><span class="wpcf7-form-control-wrap email"><input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-email" aria-required="true" aria-invalid="false" placeholder="Email*"></span></label>
        </div>
        <div class="form-item form-type-textfield form-item-phone">
          <label><span class="wpcf7-quiz-label">PHONE*</span><span class="wpcf7-form-control-wrap phone"><input type="tel" name="phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel form-text" aria-required="true" aria-invalid="false" placeholder="Phone Number*"></span></label>
        </div>
        <div class="form-item form-type-textfield form-item-captcha">
          <span class="wpcf7-form-control-wrap captcha"><label><span class="wpcf7-quiz-label">(Anti spam) what is the first letter of sash?</span> <input type="text" name="captcha" size="40" class="wpcf7-form-control wpcf7-quiz form-text" autocomplete="off" aria-required="true" aria-invalid="false" placeholder="(Anti spam) what is the first letter of sash?"></label><input type="hidden" name="_wpcf7_quiz_answer_captcha"></span>
        </div>
        <div class="form-actions webform-actions form-wrapper" id="edit-actions">
          <input type="submit" value="Submit" class="wpcf7-form-control wpcf7-submit btn btn--red"><span class="ajax-loader"></span>
        </div>
      </div>
    </form>
	</div>
</div>