<div class="logo-carousel">
	<div class="container">
		<h2 class="section-title">SPONSORS</h2>

		<div class="logo-carousel__wrap js-slick-logo">
			<div class="logo-carousel__item">
				<img src="../../images/Bellezza.jpeg">
			</div>
			<div class="logo-carousel__item">
				<img src="../../images/CheekyMac Productions Logo.jpg">
			</div>
			<div class="logo-carousel__item">
				<img src="../../images/Collabosaurus.jpeg">
			</div>
			<div class="logo-carousel__item">
				<img src="../../images/ColourPerfect.jpg">
			</div>
			<div class="logo-carousel__item">
				<img src="../../images/Enzo.jpeg">
			</div>
			<div class="logo-carousel__item">
				<img src="../../images/Gippslandia logo.png">
			</div>
			<div class="logo-carousel__item">
				<img src="../../images/Gorgeous Cosmetics.jpeg">
			</div>
			<div class="logo-carousel__item">
				<img src="../../images/logo.png">
			</div>
			<div class="logo-carousel__item">
				<img src="../../images/Notel.png">
			</div>
			<div class="logo-carousel__item">
				<img src="../../images/Palladio.jpeg">
			</div>
			<div class="logo-carousel__item">
				<img src="../../images/Rokkbank&Co.jpeg">
			</div>
			<div class="logo-carousel__item">
				<img src="../../images/Sumita.png">
			</div>
			<div class="logo-carousel__item">
				<img src="../../images/Wella.jpg">
			</div>
		</div>

		<div class="logo-carousel__link">
			<a href="#" class="btn">Jump on the journey</a>
		</div>
	</div>
</div>
