<div class="cta cta--has-no-title">
	<div class="container">
		<div class="cta__wrap">
			<div class="cta__image">
				<img src="../../images/YouRokkFoundation_Logo_RGB_Black.png" alt="">
			</div>

			<div class="cta__body">
				<div class="cta__content">
					<p>Email us to find out more about You Rokk Foundation.</p>
				</div>

				<div class="cta__link">
					<a href="#" class="btn">EMAIL US</a>
				</div>
			</div>
		</div>
	</div>
</div>
