<div class="video-block">
	<div class="container">
		<div class="video-block__image image-desktop">
			<img src="../../images/BTSLogo_3D_RGB_1080px.png" alt="">
		</div>

		<h3 class="video-block__title">Behind The Sash follows FOUR powerful women as they travel the nation and abroad to shine a light on issues of injustice whilst searching for the next Mrs Australia</h3>

		<div class="video-block__content text--large">
			<p>“Take the raw doco style of Ross Kemp, the charitable heart of Undercover Boss, the glamour of Australia’s Next Top Model – throw it in a pot and you have BEHIND THE SASH!” – Danielle McAlpine Johnson, Creator</p>
			<p>In each episode we travel to one unique location, shine a light on one issue of injustice and discover one glamorous woman taking a stand. By the end of the series we will have hand picked 10 powerhouse women to run for Mrs Australia. No more “plastic fantastic”… these women of substance are #WOMENONTHERISE</p>
		</div>
	</div>

  <div class="video-block_video">
    <video preload="auto" id="home-video-mobile" class="video-js vjs-default-skin home-page" controls width="100%" poster="../../images/Behind_The_Sash_Group_Video.jpg">
<!--         <source src="<?php echo get_field('video_mobile_url');?>" type='video/mp4'>
      <source src="<?php echo $img['url'];?>" type='video/webm'> -->
    </video>
  </div>
</div>