.logo-carousel {
	padding: 20px 0 40px;

	@media only screen and (min-width: $tablet) {
		padding: 40px 0 80px;
	}

	&__wrap {
		margin-bottom: 30px;

		@media only screen and (min-width: $tablet) {
			display: flex;
			flex-wrap: wrap;
		}
	}

	&__item {
		line-height: 0;
		display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    height: 150px;

		@media only screen and (min-width: $tablet) {
			width: calc((100% - 151px) / 6);
			margin-right: 30px;
		}

		@media only screen and (min-width: $desktopWide) {
			width: calc((100% - 251px) / 6);
			margin-right: 50px;
		}

		&:last-child {
			margin-right: 0;
		}

		img {
			width: 100%;
			height: auto;

			@media only screen and (max-width: $mobileOnly) {
				max-width: 232px;
				max-height: 112px;
				margin: auto;
				width: auto;
				height: auto;
			}
		}
	}

	&__link {
		text-align: center;
	}
}
